.fiveDayWeather {
  padding: 20px 30px;
  margin: 40px 0;
}

.foreCast {
  padding: 20px 0px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.foreCast img {
  width: 70px;
}

.futureDate {
  font-weight: 600;
}

.foreCast h5 {
  font-size: 24px;
  color: #283e56;
  padding: 0px 0px 5px 0px;
}

.foreCast h6 {
  font-size: 16px;
  color: #283e56;
}
